 <h1>Login</h1>
 
<div style="width: 400px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding:20px; margin:0 auto">
 
  <%= form_tag sessions_path do |form| %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div> 
    <%= submit_tag "Login", 
        class: :button 
        %>    
  <% end %>
 
</div>