<h1>Listing users</h1>
<%= link_to 'New User', new_user_path, style: "text-decoration: none;" %>

<%= form_tag users_path, :method => "get" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter..." %>
  <%
=begin%>
 <%= submit_tag "Search" %> 
<%
=end%>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">User name</th> 
      <th scope="col">Email</th> 
      <th scope="col">Status</th> 
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody> 
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td>
          <span>
            <%= link_to 'Show', user %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete,
                                          data: { confirm: 'Are you sure?' } %>
          
          </span>
        </td>
      </tr>
    <% end %> 
  <tbody> 
</table>
<br>
