<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <div class="col-lg-offset-3 col-lg-6">
    <div class="text-left">
      <label><%= @user.name %></label>
    </div>
  <%= link_to "Logout", logout_path, method: :delete %> 
  </div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
